.quote {
  border-left: 4px solid midnightblue;
  padding-left: 1rem;
}
.quote:hover {
  border-left: 4px solid white;
}
.quote q {
  font-style: italic;
}
.quote__p {
  text-align: end;
}

* {
  font-family: avenir;
  color: white;
}

body {
  background-color: midnightblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 60px auto 90px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:hover {
  transform: scale(1.05);
  color: cornflowerblue;
}
a:visited {
  color: midnightblue;
}

.header {
  grid-area: header;
}

header {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  border: 4px solid white;
  box-shadow: 4px 4px darkseagreen;
  background-color: midnightblue;
  color: white;
  transition: all 500ms;
}
header:hover {
  background-color: #1e1e85;
}
header:hover .fa-dove {
  transform: scale(1.75) translateX(20px);
}
header a {
  text-decoration: none;
  color: mistyrose;
}
header a:hover {
  color: indianred;
}
header a:visited {
  color: mistyrose;
}

.fa-dove {
  transform: translateX(10px);
  transition: all 1500ms;
}

.subheader {
  text-align: center;
  font-style: italic;
  font-size: larger;
  margin: 1rem auto;
  width: 75vw;
  max-width: 800px;
  color: white;
  text-shadow: #5e091a 1px 0 10px;
}
.subheader:hover {
  text-shadow: #ffcc00 3px 0 10px;
}

.main {
  grid-area: main;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: repeat(1fr);
  grid-gap: 1rem;
}
main :nth-child(5) {
  background-color: #52008c;
}
main :nth-child(5) a {
  color: mistyrose;
}
main :nth-child(5) a:visited {
  color: mistyrose;
}
main :nth-child(5):hover {
  background-color: #ae0123;
  color: white;
}
main :nth-child(3) {
  background-color: #52008c;
}
main :nth-child(3) a {
  color: mistyrose;
}
main :nth-child(3) a:visited {
  color: mistyrose;
}
main :nth-child(3):hover {
  background-color: #ae0123;
  color: white;
}
main :nth-child(7) {
  background-color: #52008c;
}
main :nth-child(7) a {
  color: mistyrose;
}
main :nth-child(7) a:visited {
  color: mistyrose;
}
main :nth-child(7):hover {
  background-color: #ae0123;
  color: white;
}

article {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  border: 4px solid cornflowerblue;
  box-shadow: 4px 4px #5e091a;
  flex: 26%;
  height: fill;
  transition: all 500ms;
  background-color: navy;
}
article a {
  color: mistyrose;
}
article a:hover {
  color: mistyrose;
}
article a:visited {
  color: mistyrose;
}
article:hover {
  transform: scale(1.02);
  background-color: midnightblue;
}

@media (max-width: 540px) {
  main {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
}

footer {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  border: 4px solid #003700;
  box-shadow: 4px 4px #4d684d;
  background-color: navy;
}
footer a {
  font-size: larger;
  text-decoration: none;
}

.jonas__img {
  background-color: cornsilk;
  border-radius: 10px 10px;
  align-content: center;
  max-width: 500px;
  margin: 0 auto;
}
.jonas__img img {
  max-width: 500px;
  object-fit: cover;
}

.chapters {
  flex-direction: column;
  width: 1024px;
  margin: 2rem auto;
}
.chapters :nth-child(3) {
  background-color: midnightblue;
}
.chapters :nth-child(3):hover {
  background-color: midnightblue;
}
.chapters :nth-child(5) {
  background-color: midnightblue;
}
.chapters :nth-child(5):hover {
  background-color: midnightblue;
}

/*# sourceMappingURL=style.css.map */
