.jonas__img {
  background-color: $imgbg;
  border-radius: 10px 10px;
  align-content: center;
  max-width: 90vw;
  margin: 0 auto;
  & img {
    max-width: 90vw;
    object-fit: cover;
  }
}
.chapters {
  flex-direction: column;
  max-width: 1024px;
  margin: 2rem auto;
  & :nth-child(3) {
    background-color: $bg;
    &:hover {
      background-color: $bg;
    }
  }
  & :nth-child(5) {
    background-color: $bg;
    &:hover {
      background-color: $bg;
    }
  }
}
