@import "mixins", "variables", "verses";
* {
  font-family: avenir;
  color: $fontcolor;
}
body {
  background-color: $bg;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  &:hover {
    transform: scale(1.05);
    color: $acolor;
  }
  &:visited {
    color: $headerbg;
  }
}
header {
  @include boxppty($headerborder, $headershadow);
  background-color: $headerbg;
  color: white;
  transition: all 500ms;
  &:hover {
    background-color: lighten($headerbg, 5%);
    & .fa-dove {
      transform: scale(1.75) translateX(20px);
    }
  }
  & a {
    text-decoration: none;
    color: $urlcolor;
    &:hover {
      color: indianred;
    }
    &:visited {
      color: $urlcolor;
    }
  }
}
.fa-dove {
  transform: translateX(10px);
  transition: all $dovetime;
}
.subheader {
  text-align: center;
  font-style: italic;
  font-size: larger;
  margin: 1rem auto;
  width: 75vw;
  max-width: 800px;
  color: $fontcolor;
  text-shadow: $articleshadow 1px 0 10px;
  &:hover {
    text-shadow: rgb(255, 204, 0) 3px 0 10px;
  }
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & :nth-child(3) {
    background-color: $accentbg;
    & a {
      color: $accenturlcolor;
      &:visited {
        color: $accenturlcolor;
      }
    }

    &:hover {
      background-color: $accentbghover;
      color: white;
    }
  }
  & :nth-child(5) {
    background-color: $accentbg;
    & a {
      color: $accenturlcolor;
      &:visited {
        color: $accenturlcolor;
      }
    }
    &:hover {
      background-color: $accentbghover;
      color: white;
    }
  }
}

article {
  @include boxppty($articleborder, $articleshadow);
  flex: 26%;
  height: fill;
  transition: all $articletransitiontime;
  background-color: $articlebg;
  & a {
    color: $urlcolor;
    &:hover {
      color: $urlcolor;
    }
    &:visited {
      color: $urlcolor;
    }
  }
  &:hover {
    transform: scale(1.02);
    background-color: $articlebghover;
  }
}
@media (max-width: 540px) {
  main {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  @include boxppty($footerborder, $footershadow);
  background-color: $footerbg;
  & a {
    font-size: larger;
    text-decoration: none;
  }
}
