@import "mixins", "variables", "verses";
* {
  font-family: avenir;
}
body {
  background-color: $bg;
}
a:hover {
  transform: scale(1.05);
  color: $acolor;
}
header {
  @include boxppty($headerborder, $headershadow);
  background-color: $headerbg;
  color: white;
  & a {
    text-decoration: none;
    color: $urlcolor;
  }
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
article {
  @include boxppty($articleborder, $articleshadow);
  flex: 35%;
  height: fill;
  transition: all 250ms;
  &:hover {
    transform: scale(1.05);
    background-color: $bg;
  }
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  @include boxppty($footerborder, $footershadow);
  & a {
    font-size: larger;
    text-decoration: none;
  }
}
