// variables de couleur
$acolor: cornflowerblue;
$bg: cornsilk;
$headerborder: crimson;
$headershadow: purple;
$headerbg: midnightblue;
$articleborder: cornflowerblue;
$articleshadow: goldenrod;
$footerborder: darkgreen;
$footershadow: darkseagreen;
$urlcolor: mistyrose;
