// variables de couleur
$acolor: cornflowerblue;
$bg: cornsilk;
$headerborder: crimson;
$headershadow: purple;
$articleborder: cornflowerblue;
$articleshadow: goldenrod;
$footerborder: darkgreen;
$footershadow: darkseagreen;
