.quote {
  border-left: 4px solid $headerbg;
  padding-left: 1rem;
  &:hover {
    border-left: 4px solid $headerborder;
  }
  & q {
    font-style: italic;
  }
  &__p {
    text-align: end;
  }
}
.verses {
  display: flex;
  flex-direction: column;
  & :nth-child(3) {
    background-color: $bg !important;
    &:hover {
      background-color: $bg;
    }
  }
  & :nth-child(5) {
    background-color: $bg;
    &:hover {
      background-color: $bg;
    }
  }
}
