/* font and page properties*/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/*ESSAI POUR SUPPRIMER l'espace sous le FOOTER*/
.bloc_page {
  margin: 0;
  padding: 0;
}
main {
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}
html {
  margin-bottom: 0;
  padding: 0;
}
footer {
  margin: 0;
}
/* mise en forme des liens header (menu) */
.inscription a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

a {
  text-decoration: none;
  color: black;
}
.menu {
  padding: 0px 180px 0px 0px;
}

.nav1,
.nav2,
.inscription {
  padding: 3rem 3rem 0.8rem 3rem;
}

div .nav1,
div .nav2 {
  padding-top: 30px;
}

div .nav1:hover,
div .nav2:hover,
.inscription:hover {
  border-top: 2px solid #0065fc;
}

/*mise en forme header desktop*/

.logo {
  position: absolute;
  left: 3vw;
  top: 2rem;
}
.header {
  display: flex;
  justify-content: flex-end;
}
nav {
  padding-right: 200px;
  display: flex;
  flex-direction: row;
  padding-top: 33px;
}
/*s'inscrire*/
.inscription {
  color: #0065fc;
  position: absolute;
  right: 0;
  top: 0;
}
/*mise en forme header mobile */
@media (max-width: 768px) {
  .nav1:hover,
  .nav2:hover {
    color: #0065fc;
    border-bottom: 4px solid #0065fc;
  }
  a:hover {
    border-top: none;
  }
  div .nav1,
  div .nav2 {
    margin: 0px;
    margin-top: 60px;
    padding: 0px;
    width: 100%;
    border-bottom: 4px solid #f2f2f2;
    text-align: center;
  }
  div .nav1:hover,
  div .nav2:hover {
    border-top: none;
  }
  .menu {
    display: grid;
    grid-template-columns: 50vw 50vw;
    width: 100%;
    padding-top: 20px;
  }

  .inscription {
    padding-right: 3vw;
  }
  .logo {
    position: absolute;
    left: 3vw;
    top: 2rem;
  }
}

/* mise en forme search field */
section.search_field {
  margin: 0 3vw;
}

.search_field_form_input {
  border: 1px solid #f2f2f2;
  height: 45px;
  margin: 0;
  width: 200px;
  font-size: large;
  font-weight: bold;
}

.gps {
  border: none;
  border-radius: 10px 10px;
}

.search_field_button {
  color: white;
  background-color: #0064fc;
  margin: 0;
  padding: 2px;
  height: 45px;
  border: none;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

.searched {
  display: none;
}

div .location {
  background-color: #f2f2f2;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  display: initial;
  padding: 15px;
}

@media (max-width: 768px) {
  .search_field_form_input {
    width: 200px;
  }
  .searched {
    display: initial;
    padding: 5px;
  }
  .searching {
    display: none;
  }
}

/* end of mise en forme header and searchfield*/

/* mise en forme filtres */
.filter {
  color: black;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 30px 30px;
  padding: 0 1rem 0 0;
  border: 2px solid #d9d9d9;
  margin: 1rem;
}

.filter:hover {
  transform: scale(1.2);
}

.filtres {
  font-size: large;
}

.fas.fa-money-bill-wave,
.fas.fa-child,
.fas.fa-heart,
.fas.fa-dog {
  color: #0065fc;
  border-radius: 50%;
  padding: 0.8rem;
  background-color: #deebff;
}

.fas.fa-info {
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 5px;
  width: 30px;
  color: #0065fc;
}

.i {
  font-weight: lighter;
}

/* Mise en forme Les plus populaires */
.aside_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 40px 25px 40px;
}

.article_title {
  margin: 40px 40px 25px 40px;
}
.article_end {
  margin: 40px;
}

/* flexbox hébergements */
.core {
  /*container pour section, aka hébergement + les plus populaire*/
  display: flex;
  flex-direction: row-reverse;
}

article {
  /* aka hébergements */
  border-radius: 20px 20px;
  background-color: #f2f2f2;
  margin-left: 3vw;
}
.inbetween {
  /* space between article and aside*/
  padding: 20px 20px;
}
aside {
  /* aka les plus populaires*/
  background-color: #f2f2f2;
  border-radius: 20px 20px;
  margin-right: 3vw;
  padding: 1.5vw;
}

/* to make article and aside 100% width on small screens, 768px is good */
@media (max-width: 768px) {
  article,
  aside {
    width: 100%;
    margin: 0px;
  }

  article {
    background-color: white;
  }
  aside {
    border-radius: 0px 0px;
  }
  .core {
    flex-wrap: wrap;
  }
}

/* views est le container de chaque hébergements dans article */
figure .hotel-1,
figure .hotel-2,
figure .hotel-3,
figure .hotel-4,
figure .hotel-5,
figure .hotel-6 {
  margin: 1.5vw 1.5vw;
  border-radius: 20px 20px;
  border: 4px solid white;
  width: 250px;
  height: 200px;
  box-shadow: 2px 2px 2px lightgrey;
  flex-basis: 25%;
}

figcaption {
  padding-left: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hotel_name {
  grid-row: 1 / 2;
  padding: 5px;
}

.stars {
  grid-row: 2 / 3;
  align-self: end;
  padding: 5px;
}

.stars2 {
  grid-row: 2 / 3;
  align-self: start;
  padding: 5px;
}

.hotel-1 img,
.hotel-2 img,
.hotel-3 img,
.hotel-4 img,
.hotel-5 img,
.hotel-6 img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 4px solid white;
  width: 250px;
  height: 120px;
}

.views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* sideviews est le container de chaque hébergement dans aside */
.sideviews figure {
  width: 340px;
  height: 145px;
  margin: 0.75vw;
  box-sizing: border-box;
  border: 2.5px solid white;
  border-radius: 20px 20px;
  box-shadow: 2px 2px 2px lightgrey;
}

.sideviews img {
  object-fit: cover;
  border: 2.5px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 140px;
  width: 130px;
  float: left;
}

.sideviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .views figure,
  .sideviews figure,
  .pic-1 figure,
  .pic-4 figure,
  .pic-2 figure,
  .pic-3 figure,
  .pic-5 figure,
  .pic-6 figure {
    width: calc(100% - 5vw);
    margin-bottom: 30px;
  }
  .views img,
  .pic-1 img,
  .pic-4 img,
  .pic-2 img,
  .pic-3 img,
  .pic-5 img,
  .pic-6 img {
    width: calc(100% - 2.5px);
  }
}

/* stars for hotels */
.bluestars {
  color: #0065fc;
}
.greystars {
  color: #d9d9d9;
}

/* end of flexbox hébergements article + aside */

/*flexbox  activités*/
/*overall activités container*/
.legs {
  margin: 3vw 1.5vw;
}

/* pics container of pic div, figures inside mobile version*/
.legs_title {
  padding: 0 3vw;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0vw;
}

/* figures and images for the pictures of pics mobile version*/
.pic {
  min-width: 295px;
  border-radius: 20px 20px;
  flex-shrink: 1;
  height: 440px;
}
figure {
  background-color: white;
  margin: 15px 1.5vw 15px 1.5vw;
  border-radius: 20px 20px;
  box-shadow: 2px 2px 2px lightgrey;
}

.pic-1 figure,
.pic-4 figure,
.pic-2 figure,
.pic-3 figure,
.pic-5 figure,
.pic-6 figure {
  min-width: 250px;
}
.pic-1 img,
.pic-4 img,
.pic-2 img,
.pic-3 img,
.pic-5 img,
.pic-6 img {
  object-fit: cover;
  min-width: 250px;
  height: 120px;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}

div .pic-2-3,
div .pic-5-6 {
  padding: 0px;
}

.pic-1 figcaption,
.pic-2 figcaption,
.pic-3 figcaption,
.pic-5 figcaption,
.pic-6 figcaption,
.pic-4 figcaption {
  height: 60px;
}
/* desktop version of activités a Marseille*/
@media screen and (min-width: 701px) {
  figure .pic-1,
  figure .pic-4 {
    height: 445px;
  }
  .pic-2 figure {
    max-height: 225px;
    margin-top: 0px;
  }
  .pic-3 figure {
    max-height: 150px;
  }

  .pic-5 figure {
    max-height: 180px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .pic-6 figure {
    max-height: 190px;
  }

  div .pic-2-3,
  div .pic-5-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 490px;
    padding: 0px;
  }

  .pic-1 img,
  .pic-4 img {
    object-fit: cover;
    width: 295px;
    height: 390px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .pic-2 img {
    object-fit: cover;
    width: 295px;
    height: 180px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .pic-3 img {
    object-fit: cover;
    width: 295px;
    height: 100px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }

  .pic-5 img {
    object-fit: cover;
    width: 295px;
    height: 130px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .pic-6 img {
    object-fit: cover;
    width: 295px;
    height: 145px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
}

/* end of flexbox hébergements et activités*/

/* flexbox footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f2f2f2;
  padding: 0 3vw;
  justify-items: start;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-rows: 1fr 0.8fr 0.5fr;
    grid-template-columns: 100%;
    background-color: #f2f2f2;
  }
  .foot-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .foot-2 {
    grid-row: 2;
    grid-column: 1;
  }
  .foot-3 {
    grid-row: 3;
    grid-column: 1;
  }
}
/* end of flexbox footer */
